.idea/
.vs/
*.user
.vscode

.DS_Store
Thumbs.db
DungeonClient/DungeonClient.Application/contracts
DungeonClient/DungeonClient.Application/cmake-build-*/
DungeonClient/DungeonClient.Application/vcpkg_installed/

DungeonServer/DungeonServer.Service/bin/
DungeonServer/DungeonServer.Service/obj/

DungeonServer/DungeonServer.Application/bin/
DungeonServer/DungeonServer.Application/obj/

DungeonServer/DungeonServer.Application.Tests/bin/
DungeonServer/DungeonServer.Application.Tests/obj/

DungeonServer/DungeonServer.Benchmark/bin/
DungeonServer/DungeonServer.Benchmark/obj/

DungeonServer/DungeonServer.Infrastructure/bin/
DungeonServer/DungeonServer.Infrastructure/obj/
