.idea/
.vs/
*.user
.vscode

.DS_Store
Thumbs.db
DungeonClient/DungeonClient.Application/cmake-build-*/
DungeonClient/DungeonClient.Application/vcpkg_installed/
DungeonServer/DungeonServer.Service/obj/
DungeonServer/DungeonServer.Service/bin/
DungeonServer/DungeonServer.Application/obj/
DungeonClient/DungeonClient.Application/contracts
DungeonServer/DungeonServer.Application.Tests/bin/
DungeonServer/DungeonServer.Application.Tests/obj/
DungeonServer/DungeonServer.Application/bin/
DungeonServer/DungeonServer.Benchmark/obj/
DungeonServer/DungeonServer.Benchmark/bin/
